p {
      font-size: 40px;
      color: rgb(211, 115, 163);
      ;

}

.ing {
      font-size: 40px;
}

.ing:hover{
      color: rgb(201, 201, 52);

}


.faq-title {
      font-size: 70px;
      color: rgb(211, 115, 163);
      text-align: center;
      margin-bottom: 50px;
}