p {
      font-size: 50px;
      color: rgb(211, 115, 163);
      ;

}

.ing {
      font-size: 40px;
}


.faq-title {
      font-size: 70px;
      color: rgb(211, 115, 163);
      text-align: center;
      margin-bottom: 50px;
}