/* Main CSS */

body {
      background: black url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
      font-family: 'Pathway Gothic One', sans-serif;

}


/* navbar*/

.navbar {
      padding: 50px 50px;
      font-size: 40px;

}


nav .navbar-nav li a {
      color: slate grey !important;

}

/* StarWars logo and animation */

.starwars {
      height: 17em;
      left: 50%;
      position: absolute;
      top: 53%;
      transform: translate(-50%, -50%);
      width: 34em;
}

img {
      width: 100%;
}

/* 
.star,
.wars {
      position: absolute;
}

.star {
      top: -0.75em;
}

.wars {
      bottom: -0.5em;
} */

/* strap line and description */

.strap-line {
      color: grey;
      position: static;
      text-align: center;
      font-size: 40px;
      margin-top: 50px;
}

/* log-in page */

.log-in-title {
      font-family: 'Pathway Gothic One', sans-serif;
      font-size: 70px;
      color: rgb(211, 115, 163);
      text-align: center;
      margin-bottom: 50px;

      /* text-shadow: 1px 1px grey */

}

.button {
      color: #494949 !important;
      text-decoration: none;
      background: #0000;
      padding: 20px;
      border: 2px solid rgb(211, 115, 163) !important;
      display: inline-block;
      margin-top: 25px;
      border-radius: 4px;

}

.button:hover {
      background-color: rgb(211, 115, 163);

}



.log-in-form {
      text-align: center;
      padding-bottom: 30px;
}



.log-in-form input {
      width: 200px;
      height: 30px;
      padding: 0 10px;
      background: #ffff;
      border: 3px solid black;
      box-shadow: 4px 4px 0 rgb(211, 115, 163);
}



/* signup page */


.sign-up-title {
      font-family: 'Pathway Gothic One', sans-serif;
      font-size: 70px;
      color: rgb(211, 115, 163);
      text-align: center;
      margin-bottom: 50px;
      margin-top: 30px;


}

.sign-up-form {
      text-align: center;
      padding-bottom: 30px;

}


.mini-login {
      color: rgb(211, 115, 163);
      text-decoration: none;
      font-size: 12px;
}


.sign-up-form input {
      width: 200px;
      height: 30px;
      padding: 0 10px;
      background: #ffff;
      border: 3px solid black;
      box-shadow: 4px 4px 0 rgb(211, 115, 163);
}





/*** Media queries ***/

@media (max-width: 768px) {
      .starwars {
            font-size: 100px;
      }

      .log-in-title {
            font-size: 100px;
      }

      .navbar {
            padding: 50px 50px;
            font-family: 'Pathway Gothic One', sans-serif;
            font-size: 40px;
      }

      @media (max-width: 1024px) {
            .starwars {
                  font-size: 7px;
            }

            .log-in-title {
                  font-size: 100px;
                  margin-top: 50px;


            }

            .navbar {
                  padding: 50px 50px;
                  font-family: 'Pathway Gothic One', sans-serif;
                  font-size: 10px;
            }
      }


      /* Animation properties */
      /* .star {
      animation: star 10s ease-out infinite;
}

.wars {
      animation: wars 10s ease-out infinite;
} */

      /* Keyframes */

      @keyframes star {
            /* 0% {
            opacity: 0;
            transform: scale(1.5) translateY(-0.75em);
      }

      20% {
            opacity: 1;
      }

      90% {
            opacity: 1;
            transform: scale(1);
      }

      100% {
            opacity: 0;
            transform: translateZ(-1000em);
      }
}

@keyframes wars {
      0% {
            opacity: 0;
            transform: scale(1.5) translateY(0.5em);
      }

      20% {
            opacity: 1;
      }

      90% {
            opacity: 1;
            transform: scale(1);
      }

      100% {
            opacity: 0;
            transform: translateZ(-1000em);
      }
} */